* {
    padding: 0px ;
    box-sizing: border-box;
}

body {
    text-align: center;
    overflow: hidden;
}

.profile-pic-one {
    width: 100px;
}

.profile-pic-two {
    max-width:100%;
    height:auto;
}
